.home__container{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__wrapper{
    width:80%;
    height:80%;
}
.main__container{
    height:80%;
}
.app__container{
    flex-grow:1;
}