@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

.search-ctn {
  padding: 2rem;
  height: 100%;
}

.search-head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-grow: 1;
}

.search-icon {
  color: #8c8c8c;
  padding-right: 8px;
}

.search-input {
  color: inherit;
  background-color: inherit;
  width: 100%;
}

.search-input:focus {
  outline: none;
}

.btn-add-link {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  background-color: #8b5cf6;
  color: #fff;
}

/* add link modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
  z-index: 1;
}

.modal-content {
  max-width: 300px;
  width: 100%;
  padding: 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.add-link-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.add-link-input {
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}

.add-link-input:focus {
  outline: none;
}

.btn-create-link {
  background-color: #8b5cf6;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
}

/* short links */
.links-ctn {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.favicon-ctn {
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #fff;
  margin: 0 auto 5px;
  width: fit-content;
}

.site-favicon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.link-delete-ctn {
  position: relative;
}

.link-delete-ctn:hover .link-delete-icon {
  visibility: visible;
}

.link-delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  background-color: #fff;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}
