@tailwind base;
@tailwind components;
@tailwind utilities;
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  font-size: 14px;;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 1400px) {
  html{
  font-size: 12px;;
}
}
@media screen and (max-width: 800px) {
  html{
  font-size: 10px;;
}
}
@media screen and (max-width: 800px) {
  html{
  font-size: 8px;
}
}