.pomodoro__container{
    width:50%;
    height:100%;
    margin-left:auto;
    padding-top:2.6rem;
}
.heading{
    text-align: start;
}
.choose-time{
    position: absolute;
    bottom:6rem;
    right:4rem;
}@media screen and (max-width: 800px) {
  
.pomodoro__container{
  margin-left:2rem;
}
}